.fon {
    display: flex;
    justify-content: center;

}

.counter {
    height: 200px;
    width: 250px;
    border: 2px solid aqua;
    border-radius: 10px;
    background-color: darkgrey;
}


.buttons_number {
    text-align: center;
    margin-top: 15%;

}

.number {
    margin: 0 auto;
    padding-top: 10px;
    background-color: #5959f8;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    color: red;
}

.numberCounter {
    margin: 0 auto;
    padding-top: 10px;
    background-color: #5959f8;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    color: #4df1ba;
}


.buttons {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
    border: 2px solid aqua;
    border-radius: 10px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


.button_incActive {
    background-color: #e5c383;
    border-radius: 5px;
}


.button_resetActive {
    background-color: #e5c383;
    border-radius: 5px;
}